.header {
    margin: 45px 0 0;
    padding-bottom: 37px;
    border-bottom: 1px solid #545454;
    opacity: 0.7;
}

@media all and (max-width: 480px) {
    .header {
        padding-bottom: 27.5px;
        margin-top: 28px;
    }
}