.popup__name {
    width: 100%;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 30px 0;
    padding: 0;
    border-bottom: 1px solid #000000;
}