.root {
    max-width: 880px;
    min-width: 282px;
    background-color: #000000;
    padding: 0 15%;
    margin: 0 auto;
}

@media all and (min-width: 1281px) {
    .root {
        padding: 0 200px;
    }
}

@media all and (max-width: 1270px) {
    .root {
        padding: 0 8%;
    }
}

@media all and (max-width: 1065px) {
    .root {
        padding: 0 5%;
    }
}

@media all and (max-width: 470px) {
    .root {
        padding: 0 19px;
    }
}