.figure__pic {
    width: 100%;
    display: block;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
}

@media all and (min-width: 1280px) {
    .figure__pic {
        max-width: 282px;
        max-height: 282px;
    }
}


